.loginregister {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border: 5px solid #ccc;
  border-radius: 10px;
  margin: 300px;
  margin-top: 100px;
}
.loginregister__input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  margin: 10px;
}
.loginregister__button {
  background-color: rgb(248, 47, 98);
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 100%;
  border-radius: 40px;
  height: 48px;
  margin-top: 10px;
}